.container {
    display: grid;
    box-sizing: border-box;
    height: 800px;
    width: 800px;
    border: 1px solid black;
    
}

.square {
    height: 1fr;
    width: 1fr;
    border: 1px solid black;
}